@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

.smooth{
  @apply transition-all duration-300 ease-in-out
}

.nav-items ul li{
  @apply text-base hover:text-gold-300 hover:scale-105 hover:font-medium smooth
}

.banner::before{
  content: "";
    border-radius: 50%;
    height: 28em;
    width: 28em;
    position: absolute;
    top: -13em;
    left: -7em;
    z-index: 0;
    background-image: linear-gradient(#d4d114, #e7e41e), radial-gradient(circle at top left, #ffffff, #ffffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
    border: double 80px transparent;
    background-color: #fff;
    opacity: 0.1;
}

.banner::after{
  content: "";
    border-radius: 50%;
    height: 28em;
    width: 28em;
    position: absolute;
    bottom: -13em;
    right: -7em;
    z-index: 0;
    background-image: linear-gradient(#d4d114, #e7e41e), radial-gradient(circle at top left, #ffffff, #ffffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
    border: double 80px transparent;
    background-color: #fff;
    opacity: 0.1;
}

@keyframes wave {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-20px);
  }
}

@keyframes waveX {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
  50% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
  75% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
}